# Environment variables
.env

# Python virtual environment
.venv/
env/
venv/
ENV/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Dataset
PDF_Data/

# Vector database & local storage
pdf_db/
chroma.sqlite3
*.db
*.sqlite3
*.zip
# IDE / OS files
.vscode/
.idea/
.DS_Store